<div class="flex flex-column gap-5">
  <p-messages
    key="messages"
    [value]="[message]"
    [closable]="false"
  ></p-messages>

  <div class="flex gap-4 flex-column lg:flex-row overflow-x-auto">
    <p-card class="w-full lg:w-24rem h-full">
      <div class="h-25rem">
        <h2 class="text-6xl mt-0">Órdenes</h2>
        <div class="w-full border-1 py-8 border-200 border-round-lg">
          <div class="flex justify-content-center align-items-center">
            <span class="text-8xl"
              >{{
                (orders?.failed?.length ?? 0) +
                  (orders?.pending?.length ?? 0) +
                  (orders?.success?.length ?? 0)
              }}<span class="text-4xl">
                {{
                  (orders?.failed?.length ?? 0) +
                    (orders?.pending?.length ?? 0) +
                    (orders?.success?.length ?? 0) ==
                  1
                    ? "Orden"
                    : "Órdenes"
                }}</span
              ></span
            >
          </div>
        </div>
      </div>
    </p-card>

    <p-card class="w-full lg:w-24rem h-full">
      <div class="h-25rem">
        <h2 class="text-6xl mt-0">Pendientes</h2>
        <div class="w-full border-1 py-8 border-200 border-round-lg">
          <div class="flex justify-content-center align-items-center">
            <span class="text-8xl"
              >{{ orders?.pending?.length ?? 0
              }}<span class="text-4xl">
                {{
                  (orders?.pending?.length ?? 0) == 1 ? "Orden" : "Órdenes"
                }}</span
              ></span
            >
          </div>
        </div>
      </div>
    </p-card>

    <p-card class="w-full lg:w-24rem">
      <div class="h-25rem">
        <h2 class="text-6xl mt-0">Estatus</h2>
        <p-chart
          type="doughnut"
          [data]="ordersChartData"
          [options]="ordersChartOptions"
        ></p-chart>
      </div>
    </p-card>
  </div>

  <p-card>
    <p-table
      #pendingTable
      [scrollable]="true"
      [value]="orders?.pending ?? []"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      paginatorStyleClass="mt-5"
      [globalFilterFields]="['id']"
    >
      <ng-template pTemplate="caption">
        <div
          class="flex md:justify-content-between md:align-items-center flex-column md:flex-row"
        >
          <h1>Órdenes pendientes</h1>
          <span
            ><span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="applyFilterGlobalPending($event)"
                placeholder="Buscar N° de orden"
              /> </span
          ></span>
        </div> </ng-template
      ><ng-template pTemplate="header">
        <tr>
          <th>Usuario</th>
          <th>Método de pago</th>
          <th>Monto USD</th>
          <th>Monto VES</th>
          <th>Tipo</th>
          <th>Estatus</th>
          <th>Opciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr>
          <td>
            <p>{{ order.user.email }}</p>
          </td>

          <td>
            <p-tag
              *ngIf="
                !order.transferBankAccount &&
                  !order.mobilePayBankAccount &&
                  !order.zelleBankAccount;
                else zelleTag
              "
              [style]="{
                width: '8rem',
                'background-color': '#f59e0b'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Stripe</span>
              </div>
            </p-tag>

            <ng-template #zelleTag>
              <p-tag
                *ngIf="order.zelleBankAccount; else transferTag"
                [style]="{
                  width: '8rem',
                  'background-color': '#ea4b5a'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Zelle</span>
                </div>
              </p-tag>
            </ng-template>

            <ng-template #transferTag>
              <p-tag
                *ngIf="order.transferBankAccount; else mobilePayTag"
                [style]="{
                  width: '8rem',
                  'background-color': '#4d9e58'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Transferencia</span>
                </div>
              </p-tag>
            </ng-template>

            <ng-template #mobilePayTag>
              <p-tag
                [style]="{
                  width: '8rem',
                  'background-color': '#0095ff'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Pago móvil</span>
                </div>
              </p-tag>
            </ng-template>
          </td>

          <td>
            <p>
              <span>{{ order.amount | number : "1.2-2" }}</span> USD
            </p>
          </td>

          <td>
            <p>
              {{
                order.exchangeRate
                  ? (order.amount * order.exchangeRate.rate | number : "1.2-2")
                  : "--"
              }}
              <span *ngIf="order.exchangeRate"> VES</span>
            </p>
          </td>
          <td>
            <p-tag
              *ngIf="order.type == 'boleteria'; else suscriptionTag"
              [style]="{
                width: '8rem',
                'background-color': '#0095ff'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Boleteria</span>
              </div>
            </p-tag>

            <ng-template #suscriptionTag>
              <p-tag
                [style]="{
                  width: '8rem',
                  'background-color': '#4d9e58'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Suscripción</span>
                </div>
              </p-tag>
            </ng-template>
          </td>

          <td>
            <p-tag
              [style]="{
                width: '8rem',
                'background-color': '#f59e0b'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Pendiente</span>
              </div>
            </p-tag>
          </td>

          <td>
            <div
              class="inline-flex gap-3 py-3 px-5 border-1 border-100 surface-ground border-round-md align-items-center"
            >
              <div class="pi pi-bars text-xl"></div>

              <p-button
                (click)="showOrderInfo(order)"
                severity="info"
                [style]="{
                'background-color': '#0095ff',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-eye"></span>
                </span>
              </p-button>

              <p-button
                (click)="initOrderPendingEdit(order, $event)"
                severity="warning"
                [style]="{
                'background-color': '#f59e0b',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-pencil"></span>
                </span>
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-card>
    <p-table
      #successTable
      [scrollable]="true"
      [value]="orders?.success ?? []"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      paginatorStyleClass="mt-5"
    >
      <ng-template pTemplate="caption">
        <div
          class="flex md:justify-content-between md:align-items-center flex-column md:flex-row"
        >
          <h1>Órdenes verificadas</h1>
        </div> </ng-template
      ><ng-template pTemplate="header">
        <tr>
          <th>Usuario</th>
          <th>Método de pago</th>
          <th>Monto USD</th>
          <th>Monto VES</th>
          <th>Tipo</th>
          <th>Estatus</th>
          <th>Opciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr>
          <td>
            <p>{{ order.user.email }}</p>
          </td>

          <td>
            <p-tag
              *ngIf="
                !order.transferBankAccount &&
                  !order.mobilePayBankAccount &&
                  !order.zelleBankAccount;
                else zelleTag
              "
              [style]="{
                width: '8rem',
                'background-color': '#f59e0b'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Stripe</span>
              </div>
            </p-tag>

            <ng-template #zelleTag>
              <p-tag
                *ngIf="order.zelleBankAccount; else transferTag"
                [style]="{
                  width: '8rem',
                  'background-color': '#ea4b5a'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Zelle</span>
                </div>
              </p-tag>
            </ng-template>

            <ng-template #transferTag>
              <p-tag
                *ngIf="order.transferBankAccount; else mobilePayTag"
                [style]="{
                  width: '8rem',
                  'background-color': '#4d9e58'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Transferencia</span>
                </div>
              </p-tag>
            </ng-template>

            <ng-template #mobilePayTag>
              <p-tag
                [style]="{
                  width: '8rem',
                  'background-color': '#0095ff'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Pago móvil</span>
                </div>
              </p-tag>
            </ng-template>
          </td>

          <td>
            <p>
              <span>{{ order.amount | number : "1.2-2" }}</span> USD
            </p>
          </td>

          <td>
            <p>
              {{
                order.exchangeRate
                  ? (order.amount * order.exchangeRate.rate | number : "1.2-2")
                  : "--"
              }}
              <span *ngIf="order.exchangeRate"> VES</span>
            </p>
          </td>
          <td>
            <p-tag
              *ngIf="order.type == 'boleteria'; else suscriptionTag"
              [style]="{
                width: '8rem',
                'background-color': '#0095ff'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Boleteria</span>
              </div>
            </p-tag>

            <ng-template #suscriptionTag>
              <p-tag
                [style]="{
                  width: '8rem',
                  'background-color': '#4d9e58'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Suscripción</span>
                </div>
              </p-tag>
            </ng-template>
          </td>

          <td>
            <p-tag
              [style]="{
                width: '8rem',
                'background-color': '#4d9e58'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Verificada</span>
              </div>
            </p-tag>
          </td>

          <td>
            <div
              class="inline-flex gap-3 py-3 px-5 border-1 border-100 surface-ground border-round-md align-items-center"
            >
              <div class="pi pi-bars text-xl"></div>

              <p-button
                severity="info"
                (click)="showOrderInfo(order)"
                [style]="{
                'background-color': '#0095ff',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-eye"></span>
                </span>
              </p-button>

              <p-button
                (click)="initOrderPendingEdit(order, $event)"
                severity="warning"
                [style]="{
                'background-color': '#f59e0b',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-pencil"></span>
                </span>
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-card>
    <p-table
      #failedTable
      [scrollable]="true"
      [value]="orders?.failed ?? []"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      paginatorStyleClass="mt-5"
    >
      <ng-template pTemplate="caption">
        <div
          class="flex md:justify-content-between md:align-items-center flex-column md:flex-row"
        >
          <h1>Órdenes rechazadas</h1>
        </div> </ng-template
      ><ng-template pTemplate="header">
        <tr>
          <th>Usuario</th>
          <th>Método de pago</th>
          <th>Monto USD</th>
          <th>Monto VES</th>
          <th>Tipo</th>
          <th>Estatus</th>
          <th>Opciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr>
          <td>
            <p>{{ order.user.email }}</p>
          </td>

          <td>
            <p-tag
              *ngIf="
                !order.transferBankAccount &&
                  !order.mobilePayBankAccount &&
                  !order.zelleBankAccount;
                else zelleTag
              "
              [style]="{
                width: '8rem',
                'background-color': '#f59e0b'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Stripe</span>
              </div>
            </p-tag>

            <ng-template #zelleTag>
              <p-tag
                *ngIf="order.zelleBankAccount; else transferTag"
                [style]="{
                  width: '8rem',
                  'background-color': '#ea4b5a'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Zelle</span>
                </div>
              </p-tag>
            </ng-template>

            <ng-template #transferTag>
              <p-tag
                *ngIf="order.transferBankAccount; else mobilePayTag"
                [style]="{
                  width: '8rem',
                  'background-color': '#4d9e58'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Transferencia</span>
                </div>
              </p-tag>
            </ng-template>

            <ng-template #mobilePayTag>
              <p-tag
                [style]="{
                  width: '8rem',
                  'background-color': '#0095ff'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Pago móvil</span>
                </div>
              </p-tag>
            </ng-template>
          </td>

          <td>
            <p>
              <span>{{ order.amount | number : "1.2-2" }}</span> USD
            </p>
          </td>

          <td>
            <p>
              {{
                order.exchangeRate
                  ? (order.amount * order.exchangeRate.rate | number : "1.2-2")
                  : "--"
              }}
              <span *ngIf="order.exchangeRate"> VES</span>
            </p>
          </td>
          <td>
            <p-tag
              *ngIf="order.type == 'boleteria'; else suscriptionTag"
              [style]="{
                width: '8rem',
                'background-color': '#0095ff'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Boleteria</span>
              </div>
            </p-tag>

            <ng-template #suscriptionTag>
              <p-tag
                [style]="{
                  width: '8rem',
                  'background-color': '#4d9e58'
                }"
              >
                <div class="p-2 flex gap-2">
                  <span class="text-white">Suscripción</span>
                </div>
              </p-tag>
            </ng-template>
          </td>

          <td>
            <p-tag
              [style]="{
                width: '8rem',
                'background-color': '#ea4b5a'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white">Rechazada</span>
              </div>
            </p-tag>
          </td>

          <td>
            <div
              class="inline-flex gap-3 py-3 px-5 border-1 border-100 surface-ground border-round-md align-items-center"
            >
              <div class="pi pi-bars text-xl"></div>

              <p-button
                severity="info"
                (click)="showOrderInfo(order)"
                [style]="{
                'background-color': '#0095ff',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-eye"></span>
                </span>
              </p-button>

              <p-button
                (click)="initOrderPendingEdit(order, $event)"
                severity="warning"
                [style]="{
                'background-color': '#f59e0b',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-pencil"></span>
                </span>
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<p-overlayPanel #pendingOverlayPanel>
  <ng-template pTemplate="content">
    <div class="px-5 flex gap-3">
      <p-button
        [disabled]="selectedOrder?.status == 'verificado'"
        severity="success"
        (onClick)="changeStatus('verificado')"
        [style]="{
                'background-color': '#4d9e58',
                border: 'none',
              }"
      >
        <span class="text-white font-bold">
          <span class="pi pi-check"></span>
        </span> </p-button
      ><p-button
        [disabled]="selectedOrder?.status == 'rechazado'"
        (onClick)="changeStatus('rechazado')"
        severity="error"
        [style]="{
                'background-color': '#ea4b5a',
                border: 'none',
              }"
      >
        <span class="text-white font-bold">
          <span class="pi pi-times"></span>
        </span>
      </p-button>
    </div>
  </ng-template>
</p-overlayPanel>

<p-dialog
  header="Datos de la orden por transferencia"
  [(visible)]="transferDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <div class="w-30rem">
      <h3>N° de orden</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-list mr-3"></span>
          {{ selectedOrder?.id ?? "" }}</span
        >
      </div>
      <h3>N° de referencia del pago</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-paperclip mr-3"></span>
          {{ selectedOrder?.reference ?? "" }}</span
        >
      </div>

      <h3>Usuario remitente</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <div class="mb-2">
          <span>
            <span class="pi pi-user mr-3"></span>
            {{ selectedOrder?.user?.name ?? "" | titlecase }}
            {{ selectedOrder?.user?.lastname ?? "" | titlecase }}</span
          >
        </div>
        <div>
          <span>
            <span class="pi pi-envelope mr-3"></span>
            {{ selectedOrder?.user?.email ?? "" }}</span
          >
        </div>
      </div>

      <h3>Cuenta beneficiaria</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <div class="mb-2">
          <span>
            <span class="pi pi-money-bill mr-3"></span>
            {{ selectedOrder?.transferBankAccount?.bank?.name ?? "" }} (
            {{ selectedOrder?.transferBankAccount?.bank?.code ?? "" }} )</span
          >
        </div>
        <div class="mb-2">
          <span>
            <span class="pi pi-wallet mr-3"></span>
            {{ selectedOrder?.transferBankAccount?.accountNumber ?? "" }}</span
          >
        </div>
        <div class="mb-2">
          <span>
            <span class="pi pi-user mr-3"></span>
            {{
              selectedOrder?.transferBankAccount?.accountHolderName ?? ""
                | titlecase
            }}</span
          >
        </div>
        <div class="mb-2">
          <span>
            <span class="pi pi-id-card mr-3"></span>
            {{
              selectedOrder?.transferBankAccount?.accountHolderDocument ?? ""
            }}</span
          >
        </div>
        <div>
          <span>
            <span class="pi pi-envelope mr-3"></span>
            {{
              selectedOrder?.transferBankAccount?.accountHolderEmail ?? ""
            }}</span
          >
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Datos de la orden por pago móvil"
  [(visible)]="mobilePayDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <div class="w-30rem">
      <h3>N° de orden</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-list mr-3"></span>
          {{ selectedOrder?.id ?? "" }}</span
        >
      </div>
      <h3>N° de referencia del pago</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-paperclip mr-3"></span>
          {{ selectedOrder?.reference ?? "" }}</span
        >
      </div>

      <h3>Usuario remitente</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <div class="mb-2">
          <span>
            <span class="pi pi-user mr-3"></span>
            {{ selectedOrder?.user?.name ?? "" | titlecase }}
            {{ selectedOrder?.user?.lastname ?? "" | titlecase }}</span
          >
        </div>
        <div>
          <span>
            <span class="pi pi-envelope mr-3"></span>
            {{ selectedOrder?.user?.email ?? "" }}</span
          >
        </div>
      </div>

      <h3>Cuenta beneficiaria</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <div class="mb-2">
          <span>
            <span class="pi pi-money-bill mr-3"></span>
            {{ selectedOrder?.mobilePayBankAccount?.bank?.name ?? "" }} (
            {{ selectedOrder?.mobilePayBankAccount?.bank?.code ?? "" }} )</span
          >
        </div>
        <div class="mb-2">
          <span>
            <span class="pi pi-id-card mr-3"></span>
            {{
              selectedOrder?.mobilePayBankAccount?.accountHolderDocument ?? ""
            }}</span
          >
        </div>
        <div>
          <span>
            <span class="pi pi-phone mr-3"></span>
            {{
              selectedOrder?.mobilePayBankAccount?.accountHolderPhone ?? ""
            }}</span
          >
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Datos de la orden por zelle"
  [(visible)]="zelleDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <div class="w-30rem">
      <h3>N° de orden</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-list mr-3"></span>
          {{ selectedOrder?.id ?? "" }}</span
        >
      </div>
      <h3>N° de referencia del pago</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-paperclip mr-3"></span>
          {{ selectedOrder?.reference ?? "" }}</span
        >
      </div>

      <h3>Usuario remitente</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <div class="mb-2">
          <span>
            <span class="pi pi-user mr-3"></span>
            {{ selectedOrder?.user?.name ?? "" | titlecase }}
            {{ selectedOrder?.user?.lastname ?? "" | titlecase }}</span
          >
        </div>
        <div>
          <span>
            <span class="pi pi-envelope mr-3"></span>
            {{ selectedOrder?.user?.email ?? "" }}</span
          >
        </div>
      </div>

      <h3>Cuenta beneficiaria</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <div class="mb-2">
          <span>
            <span class="pi pi-user mr-3"></span>
            {{ selectedOrder?.zelleBankAccount?.accountHolderName ?? "" }}</span
          >
        </div>

        <div>
          <span>
            <span class="pi pi-envelope mr-3"></span>
            {{
              selectedOrder?.zelleBankAccount?.accountHolderEmail ?? ""
            }}</span
          >
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Datos de la orden por stripe"
  [(visible)]="stripeDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <div class="w-30rem">
      <h3>N° de orden</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-list mr-3"></span>
          {{ selectedOrder?.id ?? "" }}</span
        >
      </div>
      <h3>N° de referencia del pago</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <span>
          <span class="pi pi-paperclip mr-3"></span>
          {{ selectedOrder?.reference ?? "" }}</span
        >
      </div>

      <h3>Usuario remitente</h3>
      <div class="border-round-md p-3 surface-ground border-1 border-100">
        <div class="mb-2">
          <span>
            <span class="pi pi-user mr-3"></span>
            {{ selectedOrder?.user?.name ?? "" | titlecase }}
            {{ selectedOrder?.user?.lastname ?? "" | titlecase }}</span
          >
        </div>
        <div>
          <span>
            <span class="pi pi-envelope mr-3"></span>
            {{ selectedOrder?.user?.email ?? "" }}</span
          >
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog acceptLabel="Si" rejectLabel="No"></p-confirmDialog>

<p-toast key="toast" position="bottom-right"></p-toast>
