<div class="flex flex-column gap-5">
  <p-messages
    key="messages"
    [value]="[message]"
    [closable]="false"
  ></p-messages>

  <p-card>
    <p-table
      #musicianTable
      [scrollable]="true"
      [value]="collaborators"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      paginatorStyleClass="mt-5"
      [globalFilterFields]="['fullname']"
    >
      <ng-template pTemplate="caption">
        <div
          class="flex md:justify-content-between md:align-items-center flex-column md:flex-row"
        >
          <div class="flex gap-5 justify-content-start align-items-center">
            <h1>Colaboradores</h1>
            <p-button
              severity="info"
              (click)="dialogVisible = true"
              [style]="{
                'background-color': '#0095ff',
                border: 'none',
              }"
            >
              <span class="text-white font-bold">
                <span class="pi pi-plus"></span>
              </span>
            </p-button>
          </div>

          <span
            ><span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="applyFilterGlobal($event)"
                placeholder="Buscar colaborador"
              /> </span
          ></span>
        </div> </ng-template
      ><ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Opciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-collaborator>
        <tr>
          <td>
            <p>
              {{ collaborator.name + " " + collaborator.lastname | titlecase }}
            </p>
          </td>

          <td>{{ collaborator.email }}</td>

          <td>
            <div
              class="inline-flex gap-3 py-3 px-5 border-1 border-100 surface-ground border-round-md align-items-center"
            >
              <div class="pi pi-bars text-xl"></div>

              <p-button
                (click)="confirmDelete(collaborator.email)"
                severity="error"
                [style]="{
                'background-color': '#ea4b5a',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-trash"></span>
                </span>
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<p-dialog
  header="Agregar colaborador"
  [(visible)]="dialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <form
      class="m-0 md:mx-8 mt-4 w-20rem md:w-30rem h-auto"
      (submit)="onSubmit()"
      [formGroup]="CollaboratorForm"
    >
      <span class="p-float-label">
        <input
          pInputText
          id="email"
          class="w-20rem md:w-30rem"
          formControlName="email"
          required
        />
        <label htmlFor="email">Email</label>
      </span>
      <div class="text-lg mt-5">
        <span
          >Los colaboradores se encargan de verificar los códigos QR de los
          boletos, agrégalos ingresando el email con el que se registraron en la
          app</span
        >
      </div>

      <div class="mt-5">
        <p-button
          type="submit"
          [style]="{ width: '100%', 'margin-bottom': '3rem' }"
          label="Agregar colaborador"
          [outlined]="true"
          severity="info"
        ></p-button>
      </div>
    </form>
  </ng-template>
</p-dialog>

<p-confirmDialog acceptLabel="Si" rejectLabel="No"></p-confirmDialog>

<p-toast key="toast" position="bottom-right"></p-toast>
