<div class="flex flex-column gap-5">
  <p-messages
    key="messages"
    [value]="[message]"
    [closable]="false"
  ></p-messages>

  <div class="flex gap-4 flex-column lg:flex-row overflow-x-auto">
    <p-card class="w-full lg:w-24rem h-full">
      <div class="h-25rem">
        <h2 class="text-6xl mt-0">Músicos</h2>
        <div class="w-full border-1 py-8 border-200 border-round-lg">
          <div class="flex justify-content-center align-items-center">
            <span class="text-8xl"
              >{{ musiciansQty }}<span class="text-4xl">Músicos</span></span
            >
          </div>
        </div>
      </div>
    </p-card>

    <p-card class="w-full lg:w-24rem">
      <div class="h-25rem">
        <h2 class="text-6xl mt-0">Destacados</h2>
        <p-chart
          type="doughnut"
          [data]="highlightedChartData"
          [options]="highlightedChartOptions"
        >
        </p-chart>
      </div>
    </p-card>

    <p-card class="w-full lg:w-24rem">
      <div class="h-25rem">
        <h2 class="text-6xl mt-0">Sexo</h2>
        <p-chart
          type="doughnut"
          [data]="genderChartData"
          [options]="genderChartOptions"
        >
        </p-chart>
      </div>
    </p-card>
  </div>

  <p-card>
    <p-table
      #musicianTable
      [scrollable]="true"
      [value]="musicians"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      paginatorStyleClass="mt-5"
      [globalFilterFields]="['fullname']"
    >
      <ng-template pTemplate="caption">
        <div
          class="flex md:justify-content-between md:align-items-center flex-column md:flex-row"
        >
          <div class="flex gap-5 justify-content-start align-items-center">
            <h1>Músicos</h1>
            <p-button
              severity="info"
              (click)="dialogVisible = true"
              [style]="{
                'background-color': '#0095ff',
                border: 'none',
              }"
            >
              <span class="text-white font-bold">
                <span class="pi pi-plus"></span>
              </span>
            </p-button>
          </div>

          <span
            ><span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="applyFilterGlobal($event)"
                placeholder="Buscar músico"
              /> </span
          ></span>
        </div> </ng-template
      ><ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Músico
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th>Sexo</th>
          <th>Fecha de nacimiento</th>
          <th>Destacado</th>
          <th>Opciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-musician>
        <tr>
          <td>
            <div class="flex gap-3">
              <img
                [style]="{ 'object-fit': 'cover' }"
                class="w-3rem h-3rem border-circle"
                src="{{ musician.imageUrl }}"
                alt="{{ musician.name + '_' + musician.lastname }}"
              />
              <p>{{ musician.name + " " + musician.lastname | titlecase }}</p>
            </div>
          </td>

          <td>
            <p-tag
              [style]="{
                width: '6rem',
                'background-color':
                  musician.gender == 'hombre'
                    ? '#0095ff'
                    : musician.gender == 'mujer'
                    ? '#ea4b5a'
                    : '#4d9e58'
              }"
            >
              <div class="p-2 flex gap-2">
                <span class="text-white font-bold">{{
                  musician.gender | titlecase
                }}</span>
              </div>
            </p-tag>
          </td>

          <td>{{ musician.birthdate | date : "dd/MM/YYYY" }}</td>

          <td>
            <p-tag
              [style]="{
                width: '8rem',
                'background-color': musician.isHighlighted
                  ? '#4d9e58'
                  : '#f59e0b'
              }"
            >
              <div class="p-2 flex gap-2">
                <span
                  class="pi font-bold text-white"
                  [ngClass]="{
                    'pi-heart': !musician.isHighlighted,
                    'pi-heart-fill': musician.isHighlighted
                  }"
                ></span>
                <span class="text-white">{{
                  musician.isHighlighted ? "Destacado" : "No destacado"
                }}</span>
              </div>
            </p-tag>
          </td>

          <td>
            <div
              class="inline-flex gap-3 py-3 px-5 border-1 border-100 surface-ground border-round-md align-items-center"
            >
              <div class="pi pi-bars text-xl"></div>
              <p-button
                [routerLink]="['/admin/musicians/', musician.id]"
                severity="info"
                [style]="{
                'background-color': '#0095ff',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">Ver más</span>
              </p-button>

              <p-button
                (click)="confirmDelete(musician.id)"
                severity="error"
                [style]="{
                'background-color': '#ea4b5a',
                border: 'none',
              }"
              >
                <span class="text-white font-bold">
                  <span class="pi pi-trash"></span>
                </span>
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<p-dialog
  header="Crear nuevo músico"
  [(visible)]="dialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <form
      class="m-0 md:mx-8 mt-4"
      [formGroup]="MusicianForm"
      (ngSubmit)="onSubmit()"
    >
      <span class="p-float-label">
        <input
          pInputText
          id="name"
          class="w-20rem md:w-30rem"
          formControlName="name"
          required
        />
        <label htmlFor="name">Nombre</label>
      </span>

      <span class="p-float-label mt-5">
        <input
          pInputText
          id="lastname"
          class="w-20rem md:w-30rem"
          formControlName="lastname"
          required
        />
        <label htmlFor="lastname">Apellido</label>
      </span>

      <span class="p-float-label mt-5">
        <input
          pInputText
          id="email"
          class="w-20rem md:w-30rem"
          formControlName="email"
          required
        />
        <label htmlFor="email">Email</label>
      </span>

      <span class="p-float-label mt-5">
        <p-calendar
          dateFormat="dd/mm/yy"
          id="birthdate"
          [style]="{ width: '100%' }"
          (click)="$event.stopPropagation()"
          formControlName="birthdate"
        ></p-calendar>
        <label htmlFor="birthdate">Fecha de nacimiento</label>
      </span>

      <span class="p-float-label mt-5">
        <p-calendar
          dateFormat="dd/mm/yy"
          id="startDate"
          [style]="{ width: '100%' }"
          (click)="$event.stopPropagation()"
          formControlName="startDate"
        ></p-calendar>
        <label htmlFor="startDate">Fecha de inscripción</label>
      </span>

      <span class="p-float-label mt-5">
        <p-dropdown
          [style]="{ width: '100%' }"
          [options]="['Hombre', 'Mujer', 'Otro']"
          inputId="gender"
          formControlName="gender"
        ></p-dropdown>
        <label for="gender">Sexo</label>
      </span>

      <span class="p-float-label mt-5">
        <textarea
          pInputTextarea
          id="description"
          rows="5"
          [style]="{ width: '100%', resize: 'vertical' }"
          formControlName="description"
          required
        ></textarea>
        <label htmlFor="description">Descripción</label>
      </span>

      <div class="mt-5">
        <input
          accept="image/webp"
          type="file"
          (change)="uploadFile($event)"
          hidden
          id="fileUpload"
        />
        <label
          for="fileUpload"
          [style]="{
            padding: '1rem 4rem',
            'background-color': file ? '#4d9e58' : '#0095ff',
            color: '#fff',
            'box-shadow': 'none',
            border: 'none',
            'border-radius': '5px',
            cursor: 'pointer'
          }"
          >Choose File</label
        >
        <span class="mt-5 block lg:inline lg:ml-2 lg:mt-0" *ngIf="file"
          >{{ file!.name | slice : 0 : 20
          }}{{ file!.name.length > 20 ? "...webp" : "" }}</span
        >
      </div>

      <div class="flex flex-1 justify-content-end gap-2 mt-5">
        <span>Destacado</span>
        <p-inputSwitch formControlName="isHighlighted"></p-inputSwitch>
      </div>

      <div class="mt-5">
        <p-button
          type="submit"
          [style]="{ width: '100%', 'margin-bottom': '3rem' }"
          label="Crear músico"
          [outlined]="true"
          severity="info"
        ></p-button>
      </div>
    </form>
  </ng-template>
</p-dialog>

<p-confirmDialog acceptLabel="Si" rejectLabel="No"></p-confirmDialog>

<p-toast key="toast" position="bottom-right"></p-toast>
