<p-card>
  <div class="m-5 md:mx-8">
    <img
      class="w-10rem md:w-16rem block mx-auto"
      src="assets/ofma_logo.svg"
      alt="ofma logo"
    />
    <span class="p-float-label mt-6">
      <input pInputText id="username" class="w-full" />
      <label htmlFor="username">Usuario</label>
    </span>

    <span class="p-float-label mt-5">
      <p-password
        [feedback]="false"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [toggleMask]="true"
      ></p-password>
      <label for="password">Password</label>
    </span>

    <div class="mt-5">
      <p-button
        [style]="{ width: '100%' }"
        label="Iniciar sesión"
        [outlined]="true"
        severity="info"
      ></p-button>
    </div>
  </div>
</p-card>
