<p-card>
  <form class="m-2 md:mx-6" [formGroup]="authForm!" (ngSubmit)="onLogin()">
    <img
      class="w-10rem md:w-16rem block mx-auto"
      [src]="
        isDarkMode ? 'assets/ofma_logo.svg' : 'assets/ofma_logo_variant.svg'
      "
      alt="ofma logo"
    />
    <span class="p-float-label mt-6">
      <input
        pInputText
        id="email"
        class="w-17rem md:w-30rem"
        formControlName="email"
        required
      />
      <label htmlFor="email">Email</label>
    </span>

    <span class="p-float-label mt-5">
      <p-password
        [feedback]="false"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [toggleMask]="true"
        formControlName="password"
        required
      ></p-password>
      <label for="password">Password</label>
    </span>

    <div class="mt-5">
      <p-button
        type="submit"
        [style]="{ width: '100%' }"
        label="Iniciar sesión"
        [outlined]="true"
        severity="info"
      ></p-button>
    </div>
  </form>
</p-card>

<p-toast key="toast" position="bottom-right"></p-toast>
