<p-card>
  <form class="m-2 md:mx-6" [formGroup]="authForm!" (ngSubmit)="onSubmit()">
    <img
      class="w-10rem md:w-16rem block mx-auto"
      [src]="
        isDarkMode ? 'assets/ofma_logo.svg' : 'assets/ofma_logo_variant.svg'
      "
      alt="ofma logo"
    />
    <span class="p-float-label mt-6">
      <input
        pInputText
        id="email"
        class="w-17rem md:w-30rem"
        formControlName="email"
        required
      />
      <label htmlFor="email">Email</label>
    </span>

    <span class="p-float-label mt-5">
      <p-password
        [feedback]="false"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [toggleMask]="true"
        formControlName="password"
        required
      ></p-password>
      <label for="password">Nueva contraseña</label>
    </span>

    <span class="p-float-label mt-5">
      <p-password
        [feedback]="false"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [toggleMask]="true"
        formControlName="confirmPassword"
        required
      ></p-password>
      <label for="confirmPassword">Confirmar nueva contraseña</label>
    </span>

    <div class="mt-5">
      <p-button
        type="submit"
        [style]="{ width: '100%' }"
        label="Resetear contraseña"
        [outlined]="true"
        severity="warning"
      ></p-button>
    </div>

    <p-divider></p-divider>

    <div
      class="flex flex-column align-items-center justify-content-center mt-3"
    >
      <span class="text-md">¿Ya recordaste tu contraseña?</span>
      <span
        [routerLink]="'/auth/login'"
        class="mt-1 cursor-pointer border-bottom-1 hover:border-900"
        >Intenta iniciar sesión</span
      >
    </div>
  </form>
</p-card>

<p-dialog
  header="PIN de confirmación"
  [(visible)]="dialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <div class="w-20rem md:w-30rem">
      <div class="text-lg mb-5" style="padding-left: 10px">
        <span
          >Te enviamos a tu correo electrónico una clave de confirmación de
          cambio de contraseña</span
        >
      </div>

      <code-input
        [ngClass]="{
          'pin-color-white': isDarkMode,
          'pin-color-dark': !isDarkMode
        }"
        [isCodeHidden]="true"
        [codeLength]="6"
        (codeCompleted)="onConfirm($event)"
      ></code-input>
    </div>
  </ng-template>
</p-dialog>

<p-toast key="toast" position="bottom-right"></p-toast>
